# AppArmor profile for MariaDB

#include <tunables/global>

/usr/sbin/mariadbd {
  complain /usr/sbin/mariadbd,

  # Basic permissions
  # Allow read access to configuration files and certificates
  /etc/mysql/my.cnf r,
  /etc/mysql/** r,

  # Allow access to the data directory
  {{ mariadb_datadir }}/ r,
  {{ mariadb_datadir }}/** rwk,
  {{ mariadb_tmpdir }}/ r,
  {{ mariadb_tmpdir }}/** rwk,
  {{ mariadb_innodb_log_group_home_dir }}/ r,
  {{ mariadb_innodb_log_group_home_dir }}/** rwk,

  # Allow access to the binlog directory
  {{ mariadb_binlog_dir }}/ r,
  {{ mariadb_binlog_dir }}/** rwk,

  # Allow access to log files
  {{ mariadb_general_log_file }} rw,
  {{ mariadb_log_error_path }} rw,
  {{ mariadb_slow_query_log_file }} rw,
  {{ mariadb_slow_query_log_file }} rw,

  # Allow access to socket files
  {{ mariadb_socket }} rw,

  # Allow access to plugins
  {{ mariadb_plugin_path }}/* rmix,
  /usr/lib/galera/libgalera_smm.so rmix`,
  /usr/lib/x86_64-linux-gnu/* rmix,

  # Deny everything else by default
  deny /usr/sbin/mariadbd mrwklx,
}
