[mysqld]

# Michael 2023-09-09 - Socket file is needed for xtrabackup
# socket="{{ mariadb_socket | default(mariadb_datadir + '/mysql.sock') }}"  # This parameter is specified in /etc/my.cnf to work around issues!

# Michael 2023-09-09 - The binary log can be configured to be in a different directory. By default it is set to the same directory as the data directory.
# You can use this to place the binary logs on a different disk (in case of a mismatch in storage requirements) or a spinning disk instead of SSD disk (to decrease SSD wear in high write envrionments).
# Please note that the ansible role will move the binary logs, when it is configured to do so (mariadb_move_directories_to_new_location configuration parameter)
log_bin="{{ mariadb_binlog_dir }}/{{ mariadb_binlog_basename }}"


# Michael 2022-04-11: Make log_bin_trust_function_creators
# configurable Check the documentation:
# https://mariadb.com/kb/en/replication-and-binary-log-system-variables/#log_bin_trust_function_creators
log_bin_trust_function_creators= {{ 'ON' if mariadb_log_bin_trust_function_creators | default(False) else 'OFF' }}

# Michael 2023-09-09 - Datadir is needed for mariadbackup --move-backup
# (needed for SST as well)
# datadir="{{ mariadb_datadir }}"  # This parameter is specified in /etc/my.cnf to work around issues!

# Michael 2023-09-09: Server ID is needed for asynchronous replication set-ups,
# including fake replication set-ups to support point-in-time recovery with
# parallel replication.
# By default, the server id is generated mathematically from the
# 'inventory_hostname' variable.
server_id={{ mariadb_server_id }}

# Michael 2017-03-01 - One size fits all max_connections, cache all
# threads as we use a connection pool
max_connections = {{ mariadb_max_connections | default(1000) }}

# Girish 2021-12-14 - Set back_log to 1500 to avoid connection
# timeouts by increase the number of connections that the main mariadb thread
# can get in a short time interval
back_log = 1500

# Michael 2021-08-16 - Listen on TCP socket, if so which IP - we
# assume the server is firewalled properly
bind_address = {{ mariadb_bind_addresss | default('0.0.0.0') }}

# Michael 2021-08-16 - Listen TCP port
port = {{ mariadb_port | default(3306) }}

# Michael 2017-02-28 - Enable binary logs for point in time recovery,
# rotate after 7 days
expire_logs_days = {{ mariadb_expire_logs_days | default(7) }}

# Michael 2017-03-01 - Disable DNS resolves so database is still up if
# DNS is down
skip_name_resolve

# Michael 2017-03-01 - Increase max allowed packet, needed for large
# BLOB fields
max_allowed_packet = {{ mariadb_max_allowed_packet | default('512M') }}

# Michael 2017-03-01 - Set open files limit higher then needed so
# restart is not needed for some configuration tweaks
open_files_limit = 100000

# Michael 2017-03-01 - Increase max connect errors to avoid client
# blocking in case of network instability
max_connect_errors = 100000

# Michael 2021-12-24 - Increase maximum host tracked for connection errors
host_cache_size = 4096

# Michael 2021-12-21 - Configurable character set and collation
character_set_server = {{ mariadb_character_set_server | default('utf8mb4') }}
collation_server = {{ mariadb_collation_server | default('utf8mb4_general_ci') }}

# Girish 2021-12-14 - Increase temporary table size for better large
# SELECT performance
loose_tmp_table_size = {{ mariadb_tmp_memory_table_size | default('256M') }} # tmp_table_size is still use but we encourage MariaDB to deprecate it in favor of tmp_memory_table_size.
loose_tmp_memory_table_size = {{ mariadb_tmp_memory_table_size | default('256M') }} # tmp_memory_table_size became an alias in MariaDB 10.2.7.

# Michael 2021-12-16 - Control the maximum size of a table of the
# MEMORY storage engine.  This includes when used for a temporary table in
# memory (tmp_memory_table_size
max_heap_table_size = {{ mariadb_max_heap_table_size | default('256M') }}

# Michael 2017-03-01 - Stricter SQL mode for better consistency - this
# will throw error on incorrect values
sql_mode = {{ mariadb_sql_mode }}

# Michael 2017-03-01 - READ COMMITTED isolation level, default in
# Oracle and most web develoeprs expect this. Mandatory in Galera.
transaction_isolation = {{ mariadb_transaction_isolation | default('READ-COMMITTED') }}

# Michael 2017-03-01 - File storage related security settings
local_infile = 0
symbolic_links = 0

# Michael 2017-03-01 - Tweaks for better JOIN performance (at the
# expense of memory usage)
join_buffer_space_limit = {{ mariadb_join_buffer_space_limit | default('16M') }}
join_cache_level = {{ mariadb_join_cache_level | default(6) }}
join_buffer_size = {{ mariadb_join_buffer_size | default('4M') }}

# Michael 2017_03_01 _ Log warnings into error log
log_warnings = 2

# Michael 2017-03-01 - Enable the slow query log for queries slower
# then 5s
slow_query_log = 1
long_query_time = {{ mariadb_long_query_time | default(2) }}
log_slow_verbosity = 'query_plan,innodb'
log_slow_admin_statements = 1
log_slow_slave_statements = 1
# Sarvesh 2022-02-22 - Define path of slow query log.
# By default, slow log will be located in the datadir.
slow_query_log_file = {{ mariadb_slow_query_log_file | default(mariadb_datadir + '/' + ansible_hostname + '-slow.log') }}

# Michael 2024-07-24: Log full table scans
log_queries_not_using_indexes = {{ mariadb_log_queries_not_using_indexes | default(True) | int }}

# Michael 2017-03-01 - Cache for all tables / partitions. Recommended
# to keep all actively used tables cached. Can be one size fits all until 10K
# tables as there is not much memory penalty.
table_open_cache = {{ mariadb_table_open_cache | default(10000) }}
table_definition_cache = {{ mariadb_table_definition_cache | default(10000) }}

# Michael 2017-03-01 - Disable the query cache, only useful for low
# write high read environments with long running queries
query_cache_size = 0
query_cache_type = 0

# Michael 2023-09-13 - Settings to force-load the audit log plugin
plugin_load=server_audit=server_audit.so 
server_audit=FORCE_PLUS_PERMANENT
server_audit_logging = OFF
server_audit_events=connect,query_ddl,query_dml,query_dcl
server_audit_output_type = syslog

{% if mariadb_version is version('10.3', '<=') %}
# Michael 2023-09-13 Automatically load authsocket plugin
plugin_load_add = auth_socket.so

{% endif %}
# Michael 2023-09-13 Automatically load PAM authentication plugin
plugin_load_add = auth_pam.so

# Michael 2020-12-21 - Wait timeout and interactive timeout to avoid issues
# with unstable network connections. Idle transaction timeout to avoid issues 
# with interactive clients holding transactions open and causing huge undo
# logs.
wait_timeout = {{ mariadb_wait_timeout | default(130) }}
interactive_timeout = {{ mariadb_interactive_timeout | default(300) }}
loose_idle_transaction_timeout = {{ mariadb_idle_transaction_timeout | default(300) }}

# Michael 2021-08-18 - User, client, table and index statistics. This
# feature is light weight and safe, therefore enabled.
loose_userstat = 1

# Michael 2021-08-19 - General log to log all queries, connects and
# disconnects. Adds 10% performance penalty.
general_log = {{ mariadb_general_log | default(0) }}
# By default, general log will be located in the datadir.
general_log_file = {{ mariadb_general_log_file | default(mariadb_datadir + '/' + ansible_hostname + '-general.log') }}

# Pranav 2021-11-29  - If error log is to be redirected to a file, the
# log_error configuration parameter will be included here. If nothing is
# present, the error log is redirected to syslog. Execute `journalctl -u
# mariadb -xe` to see what syslog logged. 
{% if mariadb_log_error_output_type | default('syslog') == 'file' %}
log_error = {{ mariadb_log_error_path | default(mariadb_datadir + '/' + ansible_hostname + '.err') }}
{% endif %}

# Michael 2021-12-21 - Configurable tmpdir. Change if root filesystem
# does not have enough space.
tmpdir = {{ mariadb_tmpdir | default('/tmp') }}

# Michael 2021-12-23 - Lower case table names
lower_case_table_names = {{ mariadb_lower_case_table_names | default(0) }}

# Jain 2022-04-28 - Automatically load the metadata lock info plugin
plugin_load_add = metadata_lock_info.so

# Michael 2024-02-28 - Make it possible to enable or disable the performance schema
performance_schema = {{ mariadb_performance_schema | default('OFF') }}

# Michael@ 2024-06-03 - Make it possible to configure max_prepared_statement_count
max_prepared_stmt_count = {{ mariadb_max_prepared_stmt_count | default('16382') }}

{% if mariadb_extra_port | default(False) %}
# Michael 2024-06-03 - Extra port configuration
extra_port = {{ mariadb_extra_port }}
extra_max_connections = {{ mariadb_extra_max_connections }}
{% endif %}

# Michael 2024-10-11 - Default timezone. Change to (for example)
# "Europe/Amsterdam" to make the time zone different then the operating system's
# time zone.
default_time_zone = {{ mariadb_default_time_zone | default('SYSTEM') }}

# Michael 2024-10-11: Default week format. See https://mariadb.com/kb/en/week/ for details.
default_week_format = {{ mariadb_default_week_format | default(0) }}
