[mariadb]
# Michael 2024-03-14: What to encrypt? We recommend to encrypt everything.
# Feature requests to encrypt less things are welcome.

# Michael 2024-03-15: Aria is used for temporary tables. Temporary tables can
# contain sensitive data.
aria_encrypt_tables = {{ mariadb_data_at_rest_encryption_encrypt_aria_tables | default(1) }}

# Michael 2024-03-15: The binary log contains chnages to sensitive tables.
encrypt_binlog = {{ mariadb_data_at_rest_encryption_encrypt_binlog | default(1) }}

# Michael 2024-03-15: Temporary tables can contains sensitive data
encrypt_tmp_disk_tables = {{ mariadb_data_at_rest_encryption_encrypt_tmp_disk_tables | default(1) }}

# Michael 2024-03-15: Temporary files are used for filesort operations, binary
# log cache, etc
encrypt_tmp_files = {{ mariadb_data_at_rest_encryption_encrypt_tmp_files | default(1) }}

# Michael 2024-04-15: The InnoDB redo log contains changes to sensitive tables.
innodb_encrypt_log = {{ mariadb_data_at_rest_encryption_encrypt_innodb_log | default(1) }}

# Michael 2024-04-15: We recommend all tables to be InnoDB and to encrypt the
# tables that need encryption. We recommend to set this to ON, and add
# ENCRYPTED=NO to the tables that should not be encrypted, because otherwise
# there is a side effect that full text indexes are not encrypted.
innodb_encrypt_tables = {{ mariadb_data_at_rest_encryption_innodb_encrypt_tables | default('ON') }}

# Michael 2024-04-15: How many threads to use for encryption.
# By default 1 thread for each core, unless there are more then 16 cores, then 4 threads.
innodb_encryption_threads = {{ [((ansible_processor_cores // 4) | round(0, 'ceil')), 4] | min | int }}

# Michael 2024-03-14: Key management plugin configuration. Which KMS plugin to
# use.
#
# Currently only AWS key management plugin is supported. Pull requests for
# other KMS platforms are welcome.
#
# File key management plugin should be easy to implement but is not meant for
# production use.
plugin_load_add = aws_key_management

# Michael 2024-04-15: Make sure the KMS plugin cannot be unloaded.
aws_key_management = FORCE_PLUS_PERMANENT

# Michael 2024-04-15: Master key ID and it's hash
# AWS KMS Customer Master Key ID (ARN or alias prefixed by alias/) for the master encryption key. Used to create new data keys. If not set, no new data keys will be created.
# Example 1: arn:aws:kms:eu-central-1:1234556789:key/hexadecimal-hash-of-master-key
# Example 2: alias/mariadb-encryption-production
aws_key_management_master_key_id = {{ mariadb_data_at_rest_encryption_aws_master_key_id }}

# Michael 2024-04-15: Which region does the key reside in
aws_key_management_region = {{ mariadb_data_at_rest_encryption_aws_region }}
