#
# Ansible managed - only load configs from managed directory
#   The files must end with '.cnf', otherwise they'll be ignored.
#
#
[mysqld]
# Michael 2021-12-27: Datadir needs to be specified in this file for some SST proesses.
datadir={{ mariadb_datadir }}

# Michael 2021-12-27 - Socket file is needed for xtrabackup as well
socket="{{ mariadb_socket | default(mariadb_datadir + '/mysql.sock') }}"

# Michael 2021-12-23 - Configure directory of InnoDB redo log. Recommended to have InnoDB logs not on ZFS file system. The role will move the log file(s) to the correct location.
innodb_log_group_home_dir = {{ mariadb_innodb_log_group_home_dir | default(mariadb_datadir) }}

!includedir {{ configuration_directory }}/

