[mysqld]
# Michael 2017-02-28 - First we need to ENABLE galera, otherwise everything in the [galera] section is ineffective.
wsrep_on = ON

# Michael 2017-02-28 - Mandatory settings - Load the galera provider library
wsrep_provider={{ galera_library_path }}

# Michael 2017-02-28 - Mandatory settings - Galera only supports ROW based replication
binlog_format=row

# Michael 2017-02-28 - Mandatory settings - Interleaved auto increment locks. This means sequential order is not guaranteed.
innodb_autoinc_lock_mode = 2

# Michael 2017-02-28 - Optional galera settings - Galera only replicates InnoDB tables and requires a primary key
enforce_storage_engine = {{ mariadb_enforce_storage_engine }}
innodb_force_primary_key = {{ mariadb_innodb_force_primary_key }}

# Michael 2017-02-28 - Optional galera settings - amount of (parallel) replication threads
wsrep_slave_threads = {% 
    if mariadb_wsrep_slave_threads == 'auto' %}{{ ansible_processor_vcpus * 4 }}{%
    else %} {{ mariadb_wsrep_slave_threads }}{% 
    endif
%}

# Michael 2017-02-28 - Optional galera settings - galera cache - used for IST
wsrep_provider_options = "gcache.size={{ mariadb_galera_cluster_ist_size }}; gcache.name={{ mariadb_galera_gcache_file_name }}; gmcast.segment={{ mariadb_galera_segment_number | default(1) }}; gcs.fc_limit={{ mariadb_galera_flow_control_limit | default(16) }}; gcs.fc_factor={{ mariadb_galera_flow_control_factor | default('0.5') }}; gcache.recover=1; cert.log_conflicts={{ mariadb_wsrep_provider_cert_log_conflicts | default(1) }}; gcs.fc_single_primary={{ mariadb_galera_single_primary | default('YES') }}{% 
if mariadb_ssl_galera_enabled | default(False)
  %} ; socket.ssl_key={{ ssl_directory }}/galera.key;socket.ssl_cert={{ ssl_directory }}/galera.crt; socket.ssl_ca={{ ssl_directory }}/galera-ca.crt {%
endif %}"

# Michael 2017-03-09 - Cluster-specific mandatory settings - cluster name generated from environment (DTAP street name) and parameter passed from playbook file
wsrep_cluster_address = "gcomm://{% for name in (ansible_play_hosts | sort()) %}{%
    if loop.index > 1 %},{% endif %}{%
    if 'mariadb_wsrep_node_address' in hostvars[name] %}{{ hostvars[name].mariadb_wsrep_node_address }}{%
    elif 'ansible_ssh_host' in hostvars[name] %}{{ hostvars[name].ansible_ssh_host }}{%
    elif 'ansible_host' in hostvars[name] %}{{ hostvars[name].ansible_host }}{%
    else %}{{ name }}{% 
    endif %}:4567{% 
endfor %}"
wsrep_cluster_name = "{{ mariadb_galera_cluster_name }}"

{% if mariadb_wsrep_node_address | default(False) %}
# Michael 2020-12-16 - Node address in case Galera should run from secondary interface
wsrep_node_address = "{{ mariadb_wsrep_node_address | default(ansible_ssh_host) }}"
{% endif %}

# Michael 2017-03-15 - Use xtrabackup as SST method
wsrep_sst_method = mariabackup
wsrep_sst_auth = {{ mariadb_galera_sst_username }}:{{ mariadb_galera_sst_password }}

# Michael 2020-11-03: Always log wsrep conflicts
wsrep_log_conflicts = {{ mariadb_wsrep_log_conflicts | default(1) }}

# Michael 2024-06-22: Galera GTID onfiguration
wsrep_gtid_mode = {{ 'ON' if mariadb_wsrep_gtid_mode is truthy else 'OFF' }}
# To allow GTID replication in a Galera cluster, each node should have a local GTID.
# Next to that, the cluster should have the same wsrep_gtid_domain_id.
# By default, the wsrep_gtid_domain_id is determined from crc32(cluster name).
# This makes the domain id unique for the galera cluster, which is the
# requirement for gtid replication in Galera to work.
wsrep_gtid_domain_id = {{ mariadb_wsrep_gtid_domain_id }}

# Michael 2024-06-27: WSREP mode to make galera replication safer.
# These modes are supported:
# BINLOG_ROW_FORMAT_ONLY: Only ROW binlog format is supported. This means
#   Galera does not accept any transactions that are not logged as ROW event,
#   practically this means DDL and DCL statements are blocked.
#  *Please note*: The automation uses DCL statements, so the automation does
#   not work if this feature is enabled. Pull request to temporarily disable
#   this for the automation are welcome. 
# DISALLOW_LOCAL_GTID: Nodes can have GTIDs for local transactions in a number
#   of scenarios. If DISALLOW_LOCAL_GTID is set, these operations produce an error
#   ERROR HY000: Galera replication not supported. 
#  *Please note*: This mode disables RSU. When using RSU in a Galera cluster that
#   has GTID replication slaves through a load balancer, each Galera node's local
#   GTID should be ignored. When executing the RSU, this mode should be disabled
#   and the RSU should be executed on the replication slave as well.
# REPLICATE_ARIA: Whether or not DML updates for Aria tables will be replicated. This functionality is experimental and should not be relied upon in production systems. 
# REPLICATE_MYISAM: Whether or not DML updates for MyISAM tables will be replicated. This functionality is experimental and should not be relied upon in production systems. 
# REQUIRED_PRIMARY_KEY: Table should have PRIMARY KEY defined.
loose_wsrep_mode = {{ mariadb_wsrep_mode | join(',') }}

# Michael 2024-10-11: Number of autocommit retries.
# This amount of times, an autocommit transaction is retried before it results
# into a deadlock error.
wsrep_retry_autocommit = {{ mariadb_galera_retry_autocommit | default(1) }}

[sst]
# Michael 2024-10-15 increase open files limit so that the backup process can still run efficiently with many threads and a lot of tables open on really big systems.
open-files-limit=1000000
# Michael 2021-12-21 - Use parallel compression for transferring SST
compressor="pigz -1"
decompressor="pigz -d"
# Increase the allowed memory during the prepare phase - this greatly speeds up the process
inno-apply-opts="--use-memory={{ mariadb_innodb_buffer_pool_size }} --parallel={{ mariadb_innodb_galera_sst_apply_parallel }}"
backup-threads={{ mariadb_galera_sst_parallel_backup | default(2) }}

{% if mariadb_ssl_galera_mariabackup_sst_enabled %}
# SST SSL configuration
encrypt=2
tca={{ ssl_directory }}/galera-mariabackup-sst-ca.crt
tkey={{ ssl_directory }}/galera-mariabackup-sst.key
tcert={{ ssl_directory }}/galera-mariabackup-sst.crt
{% endif %}
