[server]
# Michael 2017-02-28 - Buffer pool size is set dynamically. By default
# 75% of available memory but differences apply in case of systems with not so
# much memory and/or Galera systems. Check comments in defaults and inventory
# files. The calculation is done in tasks/configure-mariadb.yml.

innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}

# Michael 2017-02-28 - InnoDB I/O settings - loaded from inventory or defaults
innodb_io_capacity = {{ mariadb_innodb_io_capacity }}
innodb_io_capacity_max = {{ mariadb_innodb_io_capacity_max }}
innodb_write_io_threads = {{ mariadb_innodb_write_io_threads }}
innodb_read_io_threads = {{ mariadb_innodb_read_io_threads }}

# Michael 2023-03-02: By default 'fsync' when ZFS is enabled. Othewise O_DIRECT
# by default. May be changed if desired. Please submit a pull request if you
# think there should be a different default.
innodb_flush_method = {{ mariadb_innodb_flush_method }}

# Michael 2017-02-28 - InnoDB log buffer - Dynamic setting - see defaults or inventory file
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}

# Michael 2017-02-28 - InnoDB redo log size - Dynamic settings - see deafults or inventory file
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}

# Michael 2021-12-23 - Configure directory of InnoDB redo log. Recommended to have InnoDB logs not on ZFS file system. The role will move the log file(s) to the correct location.
# innodb_log_group_home_dir = {{ mariadb_innodb_log_group_home_dir | default(mariadb_datadir) }}  # This parameter is specified in /etc/my.cnf to work around issues!

# Michael 2017-02-28 - InnoDB amount of redo logs. Deprecated to 1 redo log since MariaDB 10.5, so configuring to 1 redo log in all versions.
loose_innodb_log_files_in_group = 1

# Michael 2017-03-01 - Newer version of InnoDB file format to allow larger row - Deprecated in 10.6.
loose_innodb_file_format = Barracuda

# Michael 2021-03-23 - Make it possible to configure innodb_stats_on_metadata
innodb_stats_on_metadata = {{ mariadb_innodb_stats_on_metadata | default(0) }}

# Michael 2021-08-18 - Make amount of buffer pool instances configurable
innodb_buffer_pool_instances = {{ mariadb_innodb_buffer_pool_instances | default(1) }}

# Michael 2021-08-18 - Print all deadlocks by default
innodb_print_all_deadlocks = {{ mariadb_innodb_print_all_deadlocks | default(1) }}

# Michael 2021-08-18 - InnoDB Strict mode
innodb_strict_mode = {{ mariadb_innodb_strict_mode | default(1) }}

# Michael 2021-12-16 - InnoDB Persistent statistics can be enabled to
# avoid regenerating statistics on restart. As there are/were many bugs in this
# area of MariaDB server we disable it by default.
innodb_stats_persistent = {{ mariadb_innodb_stats_persistent | default(0) }}

# Girish 2021-12-14 - How many pages InnoDB uses as an example when
# new statistics are gathered (persistent and non-persistent statistics)
innodb_stats_transient_sample_pages = {{ mariadb_innodb_stats_transient_sample_pages | default(8) }}
innodb_stats_persistent_sample_pages = {{ mariadb_innodb_stats_persistent_sample_pages | default(20) }}

# Michael 2023-03-02 - Adaptive hash index should be disabled by default and configurable
innodb_adaptive_hash_index = {{ mariadb_innodb_adaptive_hash_index | default(0) }}
loose_innodb_adaptive_hash_index_partitions = {{ mariadb_innodb_adaptive_hash_index_partitions | default(8) }}

# Michael 2017-02-28 - Optional galera settings - Durability comes from cluster, not from disk sync.
# Michael 2023-03-02 - Default 1 on non-galera set-ups, default 2 on galera set-ups
innodb_flush_log_at_trx_commit = {{ mariadb_innodb_flush_log_at_trx_commit }} #2 means every second, 1 (default) means every transaction, 0 means never, >2 means ever X transactions
