{% if mariadb_log_error_output_type == 'file' %}
# The error log is configured to log to a file, so the error log is rotated with l
{{ mariadb_log_error_path }}{
        # create 600 mysql mysql
        su mysql mysql
        notifempty
        daily
        rotate {{ mariadb_error_log_rotations }}
        minsize {{ mariadb_error_log_minsize }}
        missingok
        compress
    postrotate
	# just if mariadbd is really running
	if test -x /usr/bin/mysqladmin && \
	   /usr/bin/mysqladmin ping &>/dev/null
	then
       /usr/bin/mysqladmin --local flush-error-log 
	fi
    endscript
}
{% endif %}

{{ mariadb_slow_query_log_file }}{
        # create 600 mysql mysql
        su mysql mysql
        notifempty
        {{ mariadb_slow_log_rotate_interval }}
        rotate {{ mariadb_slow_log_rotations }}
        minsize {{ mariadb_slow_log_min_size }}
        missingok
        compress
    postrotate
	# just if mariadbd is really running
	if test -x /usr/bin/mysqladmin && \
	   /usr/bin/mysqladmin ping &>/dev/null
	then
       /usr/bin/mysqladmin --local flush-slow-log 
	fi
    endscript
}
    
{{ mariadb_general_log_file }}{
        # create 600 mysql mysql
        su mysql mysql
        notifempty
        {{ mariadb_general_log_rotate_interval }}
        rotate {{ mariadb_general_log_rotations }}
        minsize {{ mariadb_general_log_min_size }}
        maxsize {{ mariadb_general_log_max_size }}
        missingok
        compress
    postrotate
	# just if mariadbd is really running
	if test -x /usr/bin/mysqladmin && \
	   /usr/bin/mysqladmin ping &>/dev/null
	then
       /usr/bin/mysqladmin --local flush-general-log 
	fi
    endscript
}
