[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/{{ mariadb_version }}/rhel{{ hostvars[inventory_hostname].ansible_distribution_major_version }}-amd64
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
module_hotfixes = 1
