[mysqld]
# Michael 2018-10-04 - Keep log slave updates enabled, also for slaves so we can do point in time recovery.
# Setting to allow every node in the galera_cluster to be replicated from. Whether or not it is the master node.
log_slave_updates = 1

# Michael 2021-02-17 - Make read only start up value configurable to support asynchronous replication clusters
read_only = {{ mariadb_read_only | default(0) }}
loose_super_read_only = {{ mariadb_super_read_only | default(0) }}  # super_read_only not supported in all versions and flavors, therefore added as 'loose_'

# Michael 2018-07-13 - Binary log format to ROW, this is already set in Galera config but this is in case of stand-alone instance
binlog_format = ROW

# Michael 2017-03-01 -  Annotate queries as comments in binary log, for row based events (Breaks replication to MySQL)
binlog_annotate_row_events = ON

# Michael 2017-03-01 - Buffer for binary log during transaction and single statements
binlog_cache_size = {{ mariadb_binlog_cache_size | default('32K') }}
binlog_stmt_cache_size = {{ mariadb_binlog_stmt_cache_size | default('32K') }}

# Michael 2021-07-16 - Create possibility to disable binlog checksums to
# support replication TO MySQL. This configuration parameters controls whether
# or not the binary log that is written on this machine will have checksums
# added.
# By default we enable binary log checksums.
loose_binlog_checksum = {{ mariadb_binlog_checksum | default('CRC32') }}

# Michael 2021-07-16 - Create possibility to disable binlog checksums to
# support replication from MySQL
# By default we enable this when binlog_checksum is enabled on the primary
# (assuming the primary is controlled by this automation using the same
# parameters)
# This configuration parameter controls if the binary log checksum is verfiied
# when reading it from the relay log.
loose_slave_sql_verify_checksum = {{ mariadb_slave_sql_verify_checksum | default('CRC32') }}

# Michael 2023-06-19 - Create possibility to disable binlog checksums to
# support replicatin from MySQL and old MariaDB versions
# By default we enable this when binlog_checksum is enabled on the primary
# (assuming the primary is controlled by this automation using the same
# parameters)
# This configuration parameter controls if the binary log checksum is verfiied
# when reading it from the primary's binary log
loose_master_verify_checksum = {{ mariadb_master_verify_checksum | default('CRC32') }}

# Michael 2021-12-21 - Make binary log row image configurable to
# decrease the size of the binary log. Recommended to change this on systems
# with high amount of transacitons, limited disk space and/or a desire for
# reasonable binary log retention.
binlog_row_image = {{ mariadb_binlog_row_image | default('FULL') }}

{% if mariadb_skip_slave_start | default(False) %}
# Sarvesh 2022-02-16 - Prevent replication from resuming when starting mariadb service. 
# Workaround for preventing crashes on versions MariaDB 10.5.13 and 10.5.14. 
# Both replication threads can be started normally after start.
skip_slave_start
{% endif %}

# Michael 2021-12-21 - Enable extra replication safety when galera is
# NOT enabled and replication IS enabled (default). Each parameter can be
# configured individually.
sync_binlog = {{ mariadb_sync_binlog }}
sync_relay_log = {{ mariadb_sync_relay_log | default(mariadb_sync_binlog) }}
sync_relay_log_info = {{ mariadb_sync_relay_log_info | default(mariadb_sync_relay_log) }}

# Michael 2024-05-13 - Add blackhole plugin for intermediate master and point
# in time recovery replicas
plugin_load_add = ha_blackhole

# Michael 2024-06-22: GTID Domain Id. 
# Each node where writes occur should have a different domain id.
#
# By default, this is configured to the same as the server_id, which by default
# is a hash of the inventory name. This is required in Galera clusters and in
# circular replication clusters where writes occur on both nodes.
gtid_domain_id = {{ mariadb_gtid_domain_id }}

# Michael 2024-06-27: GTID Strict mode controls that GTID transactions are
# always sequential. A sequence number cannot be skipped and a the transaction id
# should always go up.
gtid_strict_mode = {{ 'ON' if mariadb_gtid_strict_mode | default(False) is truthy else 'OFF' }}

# Michael 2024-06-27: GTID Ignore duplicates will ignore duplicates from coming in.
# In theory, you could replicate from both the primary and the secondary, but
# this is not recommended. The history of the amount of transactions that is kept
# is not very long.
gtid_ignore_duplicates = {{ 'ON' if mariadb_gtid_ignore_duplicates | default(False) is truthy else 'OFF' }}

#  Michael 2021-07-16 - Replication master binary log features
{% for filter in mariadb_binlog_do_db %}
binlog_do_db = {{ filter }}
{% endfor %}
{% for filter in mariadb_binlog_ignore_db %}
binlog_ignore_db = {{ filter }}
{% endfor %}

{% macro multisource_filter(variable, value) %}{%
    if ':' in value %}{%
      set variable = value.split(':')[0] + '.' + variable %}{%
      set value = value.split(':')[1] %}{%
    endif
%}{{ variable }} = {{ value }}{% 
    endmacro %}

#  Michael 2021-07-16 - Replication slave filter features
{% for filter in mariadb_replicate_do_db %}
{{   multisource_filter('replicate_do_db', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_ignore_db %}
{{   multisource_filter('replicate_ignore_db', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_rewrite_db %}
{{   multisource_filter('replicate_rewrite_db', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_do_table %}
{{   multisource_filter('replicate_do_table', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_ignore_table %}
{{   multisource_filter('replicate_ignore_table', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_wild_do_table %}
{{   multisource_filter('replicate_wild_do_table', filter) }}
{% endfor %}
{% for filter in mariadb_replicate_wild_ignore_table %}
{{   multisource_filter('replicate_wild_ignore_table', filter) }}
{% endfor %}
