[client]
# Allow automatic login to MariaDB
socket="{{ mariadb_socket | default(mariadb_datadir + '/mysql.sock') }}"
user="{{ mariadb_login_user }}"
password="{{ mariadb_login_password }}"
host="{{ mariadb_login_host }}"
port="{{ mariadb_login_port }}"
