[mysqld]

# Michael 2021-08-18 Automatically SQL Error log plugin
# Configuration parameters are prefixed "loose_" in case module failed to load
plugin_load_add = sql_errlog.so

# Michael 2024-08-15: Up to 300MB of error logs are stored by default.  
# The SQL error log is rotated automatically when the size limit is reached.
# To rotate manually, use the dba-toolkit OR SET GLOBAL sql_error_log_rotate=1;
loose_sql_error_log_size_limit = {{ mariadb_sql_error_log_size_limit | default('10M') }}
loose_sql_error_log_rotations = {{ mariadb_sql_error_log_rotations | default(30) }}

# Michael 2024-08-15: New versions (10.6.18 onwards) support storing the schema
# and thread id as well. This is recommended to correlate slow general query
# log, or to to reproduce an erronous query.
loose_sql_error_log_with_db_and_thread_info = 1
