[mysqld]
ssl
ssl_ca = {{ ssl_directory }}/ca.crt
ssl_cert = {{ ssl_directory }}/server.crt
ssl_key = {{ ssl_directory }}/server.key

loose_require_secure_transport = {{ mariadb_require_secure_transport | default(0) | int }}
