AWS_ACCESS_KEY_ID={{ mariadb_data_at_rest_encryption_aws_api_key_id }}
AWS_SECRET_ACCESS_KEY={{ mariadb_data_at_rest_encryption_aws_api_key_token }}
AWS_DEFAULT_REGION={{ mariadb_data_at_rest_encryption_aws_region }}
