[Service]
TimeoutStartSec=21600
Environment="UMASK=0640"
Environment="UMASK_DIR=0750"

# Michael 2022-02-14 - Specify open files limit because the default
# systemd service definition contains it as well. Increased to 1 million to
# support really big systems.
LimitNOFILE=1000000

{% if  ('home' in mariadb_datadir) or ('root' in mariadb_datadir)  or ('user' in mariadb_datadir) %}
# Jain 2021-12-14 - Set ProtectHome to false when the datadir is
# changed to a user's home directory
ProtectHome=false
{% endif %}

{% if mariadb_enable_jemalloc | default(True) %}
# Sarvesh 2022-02-16: Enable jemalloc for better memory management
{% if (ansible_distribution == "Debian" and ansible_distribution_version is version("10", ">=")) or  (ansible_distribution == "Ubuntu" and ansible_distribution_version is version("20", ">=")) %}
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2"

{% elif (ansible_distribution == "Debian" and ansible_distribution_version is version("9", "<=")) or  (ansible_distribution == "Ubuntu" and ansible_distribution_version is version("18", "<=")) %}
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.1"

{% elif (ansible_os_family == "RedHat" and ansible_distribution_version is version("8", ">=")) %}
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so.2"

{% elif (ansible_os_family == "RedHat" and ansible_distribution_version is version("7", "<=")) %} 
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so.1"
{% endif %}
{% endif %}

{% if mariadb_data_at_rest_encryption_enabled and mariadb_data_at_rest_encryption_plugin == 'aws' %}
EnvironmentFile={{ mariadb_systemd_configuration_directory }}/aws-kms.env
{% endif %}

# Michael 2024-10-03: Ask the kernel to not quickly do OOM killing on MariaDB process
OOMScoreAdjust=-800
