# Copyright (C) 2013-2015 Codership Oy
# This config file is to be sourced by garbd service script.

# A space-separated list of node addresses (address[:port]) in the cluster:
GALERA_NODES="{% for name in (ansible_play_hosts | sort()) %}{%
    if loop.index > 1 %} {% endif %}{%
    if 'ansible_ssh_host' in hostvars[name] %}{{ hostvars[name].ansible_ssh_host }}{%
    elif 'ansible_host' in hostvars[name] %}{{ hostvars[name].ansible_host }}{%
    else %}{{ name }}{% 
    endif %}:4567{% 
endfor %}"

# Galera cluster name, should be the same as on the rest of the node.
GALERA_GROUP="{{ mariadb_galera_cluster_name | default(galera_cluster_name) }}"

# Optional Galera internal options string (e.g. SSL settings)
# see https://galeracluster.com/documentation/galera-parameters.html
GALERA_OPTIONS="gmcast.segment={{ mariadb_galera_segment_number | default(1) }};"

# Log file for garbd. Optional, by default logs to syslog
# LOG_FILE="/var/log/garbd.log"
